<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Papan Ranking</title>
	<link rel="stylesheet" href="./public/css/main.css">
	<link rel="stylesheet" href="./public/css/rankboard/style.css">
</head>
<body>
	<div id="hero">
		<div class="container">
			<div class="rounded-box" id="trophyIcon"></div>
			<h1 class="header">Game Telah Usai</h1>
			<p class="text">Berikut ialah ranking dari permainan tadi. <br> Jika ingin main lagi, tekan tombol di bawah!</p>			
		</div>
	</div>
	<div id="rankboard">
		<div class="container">
			<div class="board">
				<div class="player myself">
					<div class="number">
						1
					</div>
					<div class="player-info">
						<div class="player-name">
							player_1
						</div>
						<div class="player-desc">
							selesai dalam <span class="bold">7,8</span> menit
						</div>
					</div>
					<div class="player-pawn"></div>
				</div>
				<div class="player">
					<div class="number">
						2
					</div>
					<div class="player-info">
						<div class="player-name">
							player_2
						</div>
						<div class="player-desc">
							selesai dalam <span class="bold">7,8</span> menit
						</div>
					</div>
					<div class="player-pawn"></div>
				</div>
				<div class="player">
					<div class="number">
						3
					</div>
					<div class="player-info">
						<div class="player-name">
							player_3
						</div>
						<div class="player-desc">
							selesai dalam <span class="bold">7,8</span> menit
						</div>
					</div>
					<div class="player-pawn"></div>
				</div>
				<div class="player">
					<div class="number">
						4
					</div>
					<div class="player-info">
						<div class="player-name">
							player_4
						</div>
						<div class="player-desc">
							selesai dalam <span class="bold">7,8</span> menit
						</div>
					</div>
					<div class="player-pawn"></div>
				</div>
			</div>
		</div>
	</div>

	<a href="/" class="bottom-fixed-button" id="playAgain">
		Main Lagi!
	</a>
</body>
</html>